{% extends "_mainpage/index.html"%}
{% block main %}


    <div class="row tbl">
        <div class="col tableWrap">
            <table class="table">
                <thead class="theadpos">
                    <tr>
                        <th scope="col">Naslov</th>
                        <th scope="col">Poruka</th>
                    </tr>
                </thead>
                <tbody class="messageAll">
                    
                </tbody>
            </table>
        </div>
        <div class="messreadcl"></div>
    </div>
    

<script src="/press/assets/js/messageApi.js"></script>
{% endblock %}