{% extends "_mainpage/index.html "%}
{% block main %}

    
        <form method="POST">
            
                <div class="row material">
                    <div class="col-sm-12 col-md-6 ">
                        <label for="mnumber">Broj Naloga</label>
                        <input type="text" class="form-control" id="mnumber" name="numbermaterial">
                    </div>
                    <div class="col-sm-12 col-md-6 ">
                        <label for="count">Kolicina</label>
                        <input type="number" class="form-control" id="count" name="countmaterial">
                    </div>
                    <div class="col-sm-12 col-md-12 mt-4">
                        <select name="mark" id="" class="form-select">
                            <option value="gorenje" selected>Gorenje</option>
                            <option value="sumit">Sumit</option>
                            <option value="smeg">Smeg</option>
                            <option value="ge">Ge</option>
                        </select>
                    </div>
                </div>
            
            <div class="row">
              
                <div class="col-md-3 tbl materialoverflo text-center">
                    <table class="table table-striped">
                        <thead class="">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Materijal</th>
                                <th scope="col">Kolicina</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ini348805" value=0>
                                    </div>
                                </th>
                                <td>348805</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="sum348805">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ini348804" value=0>
                                    </div>
                                </th>
                                <td>348804</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="sum348804">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ini523341" value=0>
                                    </div>
                                </th>
                                <td>523341</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="sum523341">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ini656361" value=0>
                                    </div>
                                </th>
                                <td>656361</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="sum656361">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ini566843" value=0>
                                    </div>
                                </th>
                                <td>566843</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="sum566843">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="ini566844" value=0>
                                    </div>
                                </th>
                                <td>566844</td>
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="sum566844">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    {% set counter = 1 %}
                        <div class="row tblc">
                            <div class="col scr">
                                <table class="table table-striped">
                                    <thead class="">
                                        <tr>
                                            <th scope="col" class="col-sm-2 col-md-2 align-middle text-center">Redni Broj</th>
                                            <th scope="col" class="col-sm-2 col-md-2 align-middle text-center">Broj Naloga</th>
                                            <th scope="col" class="col-sm-2 col-md-2 text-center">Datum Stampanja</th>
                                        </tr>
                                    </thead>
                                    <tbody class="resultSearch">
                                        {% for param in setmaerial %}
                                        <tr class="text-center ">
                                            <th scope="row">{{ counter }}</th>
                                            <td><a href="/press/material/{{ param.numbr_material }}">{{ param.numbr_material }}</a></td>
                                            <td><a href="#">{{ param.create_at}}</a></td>
                                        </tr>
                                        {% set counter = counter +  1 %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
                <div class="col-md-2 btn-set">
                    <div class="row">
                        <button class="btn btn-primary">Sasuvaj</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mt-3"><a href="#">Panel</a></button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mt-3"><a href="#">Panel</a></button>
                    </div>
                   
                </div>
            </div>           
        </form>
  <script src="/press/assets/js/searchApi.js"></script>
{% endblock %}