body{
    margin: 0;
    padding: 0;
}

.main{
   margin-top: 30px;
}

.poc{
    padding: 0px;
}

.poc1{
    padding: 0px;
}

.poc nav {
    padding: 0px;
    margin: 0px;
    border: none;
}

.ins{
    padding: 0px;
}

.ins > input{
    padding: 8.1px 0px;
    background-color: rgba(181, 211, 211, 0.596);
    border-radius: 0%;
    border: none;
    padding-left: 18px;
    font-style: italic;
}

.menu   {
    color: rgb(15, 12, 12);
    background-color: rgba(23, 36, 36, 0.596);
    
}

.menu a {
    color: rgb(24, 19, 19);
} 

.menu   a:hover{
    color: #fff;
}

.log-text{
    margin-bottom: 10px;
    background-color: rgba(23, 36, 36, 0.596);
    color: #fff;
}

.tbl{
    margin-top: 30px;
    padding: 0px;
}

.tbl > div{
    padding: 0px;
}

.tbl table > thead  {
    color: #fff;
    background-color: rgba(23, 36, 36, 0.596);
}

.poc > nav >a{
    color: #fff;
}

.poc > nav > a:hover{
    cursor: pointer;
    background-color: rgba(22, 44, 44, 0.596);
}

tbody td a{
    text-decoration: none;
    color: rgb(43, 34, 34);
}

tbody td a:hover{
    color: rgba(83, 26, 31, 0.596);
}

.btn-primary{
    background-color: rgba(23, 36, 36, 0.596);
    border: none;
}

.login{
   background-color: rgba(47, 59, 59, 0.596);
   margin-top: 60px;
   padding: 30px;
   color: #fff;
}
.login button:hover{
    background-color: #fff;
    color: rgba(47, 59, 59, 0.596);
}
.login a{
    text-decoration: none;
    color: #fff;
}